* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v33_112 {
  width: 1920px;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_124 {
  width: 323px;
  height: 1076px;
  background: rgba(0,0,0,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_125 {
  width: 323px;
  background: url("../images/v33_125.png");
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_134 {
  width: 323px;
  background: url("../images/v33_134.png");
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 0px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_126 {
  width: 45px;
  height: 45px;
  background: url("../images/v33_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v33_127 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 101px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_155 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 91px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_145 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 425px;
  left: 267px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_129 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 101px;
  left: 267px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_130 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 54px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v33_131 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 223px;
  left: 54px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v33_132 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 281px;
  left: 54px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v33_133 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 339px;
  left: 54px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v33_136 {
  width: 323px;
  background: url("../images/v33_136.png");
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 0px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_138 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 425px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_146 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 512px;
  left: 267px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_147 {
  width: 323px;
  background: url("../images/v33_147.png");
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 0px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_148 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 512px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_149 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 599px;
  left: 267px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_150 {
  width: 323px;
  background: url("../images/v33_150.png");
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 0px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_151 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 599px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_152 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 686px;
  left: 267px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_153 {
  width: 323px;
  background: url("../images/v33_153.png");
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 0px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_154 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 686px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_159 {
  width: 100%;
  height: 1007px;
  background: rgba(223,223,223,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 323px;
  overflow: hidden;
}
.v33_160 {
  width: 179px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 53px;
  left: 40px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_161 {
  width: 291px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 105px;
  left: 40px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_162 {
  width: 100%;
  height: 523px;
  background: rgba(255,255,255,0.7300000190734863);
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 54px;
  overflow: hidden;
}
.v33_188 {
  width: 199px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 377px;
  left: 100px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_198 {
  width: 116px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 467px;
  left: 201px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_204 {
  width: 142px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 586px;
  left: 201px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_199 {
  width: 118px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 467px;
  left: 410px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_205 {
  width: 170px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 586px;
  left: 393px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_200 {
  width: 152px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 467px;
  left: 900px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_201 {
  width: 131px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 467px;
  left: 630px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_206 {
  width: 223px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 586px;
  left: 601px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_207 {
  width: 214px;
  color: rgba(132,132,132,1);
  position: absolute;
  top: 586px;
  left: 855px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v33_189 {
  width: 100%;
  background: url("../images/v33_189.png");
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 88px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_203 {
  width: 100%;
  background: url("../images/v33_203.png");
  opacity: 1;
  position: absolute;
  top: 532px;
  left: 88px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_168 {
  width: 19px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 797px;
  left: 658px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_169 {
  width: 19px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 797px;
  left: 858px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_166 {
  width: 49px;
  height: 49px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 745px;
  overflow: hidden;
}
.v33_167 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 797px;
  left: 761px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v33_170 {
  width: 386px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 54px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v33_173 {
  width: 386px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 465px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v33_180 {
  width: 450px;
  height: 57px;
  background: rgba(223,223,223,1);
  position: relative;
  opacity: 1;
  top: 239px;
  left: 1050px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v33_171 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  left: 64px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v33_174 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  left: 475px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v33_172 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 393px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_175 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 800px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_187 {
  width: 45px;
  height: 45px;
  background: url("../images/v33_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 1520px;
  overflow: hidden;
}
.v33_196 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 467px;
  left: 100px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v33_197 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 100px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v33_208 {
  width: 111px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 1140px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v33_210 {
  width: 111px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 1251px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v33_209 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 591px;
  left: 1170px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_211 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 591px;
  left: 1284px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_158 {
  width: 198px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 8px;
  left: 360px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_157 {
  width: 100%;
  background: url("../images/v33_157.png");
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 323px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_191 {
  width: 59px;
  height: 59px;
  background: rgba(242,242,242,1);
  opacity: 1;
  
  top: 5px;
  left: 17px;
  overflow: hidden;
}
.v33_194 {
  width: 46px;
  height: 46px;
  background: url("../images/v33_194.png");
  opacity: 1;
  
  top: 14px;
  left: 10px;
  border: 3px solid rgba(132,132,132,1);
}
.v33_192 {
  width: 46px;
  height: 46px;
  background: url("../images/v33_192.png");
  opacity: 1;
 
  top: 60px;
  left: 10px;
  border: 3px solid rgba(132,132,132,1);
  transform: rotate(-90deg);
}
