* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v91_2 {
  width: 1920px;
  height: 1284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v91_3 {
  width: 97px;
  height: 97px;
  background: url("../images/v91_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 123px;
  overflow: hidden;
}
.v91_4 {
  width: 546px;
  background: url("../images/v91_4.png");
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 562px;
  border: 1px solid rgba(0,0,0,1);
}
.v91_5 {
  width: 57px;
  height: 57px;
  background: url("../images/v91_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 1212px;
  overflow: hidden;
}
.v91_6 {
  width: 73px;
  height: 66px;
  background: url("../images/v91_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 1519px;
  overflow: hidden;
}
.v91_7 {
  width: 72px;
  height: 72px;
  background: url("../images/v91_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 1651px;
  overflow: hidden;
}
.v91_8 {
  width: 100%;
  height: 100px;
  background: url("../images/v91_8.png");
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.20000000298023224);
}
.v91_9 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 134px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_10 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 396px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_11 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 725px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_12 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 1048px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_13 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 1371px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_14 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 1650px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v91_15 {
  width: 210px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 323px;
  border: 2px solid rgba(156,156,156,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v91_16 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 385px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v91_17 {
  width: 41px;
  height: 34px;
  background: url("../images/v91_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 333px;
  overflow: hidden;
}
.v91_18 {
  width: 675px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 325px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v131_54 {
  width: 348px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 1000px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v131_59 {
  width: 245px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 1349px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v91_20 {
  width: 112px;
  height: 116px;
  /* background: url("../images/v91_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 401px;
  overflow: hidden;
}
.v91_22 {
  width: 171px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 564px;
  left: 574px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v91_28 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 595px;
  left: 574px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v91_32 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 624px;
  left: 574px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v91_50 {
  width: 50px;
  height: 50px;
  background: url("../images/v91_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 277px;
  overflow: hidden;
}
.v91_57 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 949px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_53 {
  width: 100%;
  background: url("../images/v131_53.png");
  opacity: 1;
  position: absolute;
  top: 428px;
  left: 323px;
  border: 1px solid rgba(0,0,0,1);
}
.v131_82 {
  width: 100%;
  background: url("../images/v131_82.png");
  opacity: 1;
  position: absolute;
  top: 970px;
  left: 325px;
  border: 1px solid rgba(0,0,0,1);
}
.v131_83 {
  width: 100%;
  background: url("../images/v131_83.png");
  opacity: 1;
  position: absolute;
  top: 1108px;
  left: 325px;
  border: 1px solid rgba(0,0,0,1);
}
.v131_55 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 1031px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_56 {
  width: 316px;
  background: url("../images/v131_56.png");
  opacity: 1;
  position: absolute;
  top: 582px;
  left: 1016px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v131_57 {
  width: 85px;
  height: 23px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 612px;
  left: 1027px;
  overflow: hidden;
}
.v131_61 {
  width: 115px;
  height: 31px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 1414px;
  overflow: hidden;
}
.v131_58 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 1238px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_60 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 577px;
  left: 1438px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v131_62 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 627px;
  left: 1430px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v131_67 {
  width: 675px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 325px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v131_68 {
  width: 348px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 1000px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v131_69 {
  width: 245px;
  height: 198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 1349px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
  overflow: hidden;
}
.v131_70 {
  width: 112px;
  height: 116px;
  /* background: url("../images/v131_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 403px;
  overflow: hidden;
}
.v131_71 {
  width: 171px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 763px;
  left: 576px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_72 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 794px;
  left: 576px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v131_73 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 823px;
  left: 576px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v131_74 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 949px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_75 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 1031px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_76 {
  width: 316px;
  background: url("../images/v131_76.png");
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 1016px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v131_77 {
  width: 85px;
  height: 23px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 811px;
  left: 1027px;
  overflow: hidden;
}
.v131_78 {
  width: 115px;
  height: 31px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 1414px;
  overflow: hidden;
}
.v131_79 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 811px;
  left: 1238px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v131_80 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 776px;
  left: 1438px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v131_81 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 826px;
  left: 1430px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v131_63 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 459px;
  left: 619px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_65 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 459px;
  left: 1155px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_66 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 459px;
  left: 1454px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_84 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1024px;
  left: 401px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_86 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1024px;
  left: 620px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_88 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1024px;
  left: 853px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_85 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1019px;
  left: 576px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v131_87 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1019px;
  left: 807px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v131_89 {
  height: 70px;
  background: url("../images/v131_89.png");
  opacity: 1;
  position: absolute;
  top: 1004px;
  left: 1120px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v131_90 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1024px;
  left: 1276px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_91 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 592px;
  left: 323px;
  overflow: hidden;
}
.v131_94 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 325px;
  overflow: hidden;
}
.v131_92 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 325px;
  overflow: hidden;
}
.v131_93 {
  width: 93px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 1482px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v131_96 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 388px;
  left: 1498px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v131_95 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 374px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v142_2 {
  width: 100%;
  height: 92px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1138px;
  left: 323px;
  overflow: hidden;
}
.v142_3 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1163px;
  left: 908px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
